<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bumba.qrcode">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <provider
            android:name="com.bumba.qrcode.QRCodeFileProvider"
            android:authorities="com.bumba.qrcode.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
        </provider>
    </application>
</manifest>
